<md-subheader class="md-no-sticky">{{ module.labels.listHeader || module.labels.plural }}</md-subheader>

<md-list class="md-whiteframe-z2">
  <md-list-item
    ng-repeat="item in list.items | orderBy:'name' "
    ng-click="list.show(item, $event)"
    ng-class="{'selected': item.$selected}">

    <div class="hidden-select"
      ng-click="list.toggleSelect(item, $event)">
      <md-checkbox
        ng-if="module.hasDestroy"
        ng-model="item.$selected"></md-checkbox>

      <span class="letter-icon" ng-class="list.letterIconClass(item)">{{ list.firstLetter(item) }}</span>
    </div>

    <p>{{ item.name }}</p>
  </md-list-item>
</md-list>


<div class="fab-actions">
  <md-fab-speed-dial class="md-fling" md-direction="up">

    <md-fab-trigger>
      <md-button aria-label="menu" class="md-fab md-warn">
        <md-icon md-svg-icon="navigation:ic_menu_24px"></md-icon>
      </md-button>
    </md-fab-trigger>

    <md-fab-actions>
      <md-button
        ng-show="module.hasCreate"
        aria-label="create"
        class="md-fab md-raised md-mini md-primary md-hue-2"
        ui-sref="^.create()">
        <md-icon md-svg-icon="content:ic_add_24px"></md-icon>
      </md-button>
    </md-fab-actions>

  </md-fab-speed-dial>
</div>
